.wrapper {
  max-width: $phone-width;
  min-width: 320px;
  padding: 0 $mobile-inline-padding;
  margin: 0 auto;

  @include onDesktop {
    max-width: $desktop-width;
    padding: 0 $desktop-inline-padding;
  }
}