.action-button {
  display: flex;
  justify-content: center;
  align-items: center;

  line-height: 28.6px;

  background: linear-gradient(to right, #3B34A1, #E1400F);  

  @include onDesktop {
    &:hover {
      background: $main-color;
      border: 1px solid;
      border-image: linear-gradient(to right, #3B34A1, #E1400F) 1;
    }
  }

  &--nav {
    width: 143px;
    min-height: 35px;

    font-size: 12px;
    line-height: 19.07px;

    @include onDesktop {
      width: 177px;
      min-height: 39px;

      font-size: 14px;
      line-height: 22.5px;
    }
  }

  &--header {
    width: 292px;
    min-height: 73px;

    font-size: 24px;
    line-height: 38.14px;
  }

  &--about {
    width: 199px;
    min-height: 52px;

    font-size: 18px;
    line-height: 28.6px;

    @include onDesktop {
      grid-column: 3 / 4;
      grid-row: 4 / 5;
    }
  }

  &--contact-us {
    min-height: 62px;
    border: none;
  }
}